.portrait {
  transform: scale(0.6);
}

.preload-overlay {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: midnightblue;
  transition: opacity .5s;
}

/* Styles for walking trump */
.preload-content {
  animation: rightThenLeft 4s linear;
  margin-right: 10000px;
}

@keyframes rightThenLeft {
  0% {
    margin-right: 100%;
  }

  100% {
    margin-right: -700px;
  }
}

.main {
  background-image: url("/assets/images/header-img.jpg");
  background-position: top center;
  background-repeat: repeat-x;
}